{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('message') %}
        <div class="alert alert-success" id="message">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('answer') %}
        <div class="alert alert-success" id="answer">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content span=8 offset=2">
        <div class="well my-style">
            <form name="authenticate" class="form-horizontal" method="post">
                <fieldset>
                    <legend>Profile</legend>
                    <div class="form-group">
                        <label for="user_email">
                            <small>Email:</small>{{ user.email }}</label>
                    </div>
                    <div class="form-group">
                        <label for="full_name">
                            <small>Full name:</small>{{ user.fullName }}
                        </label>
                    </div>

                    {% if app.getUser() %}
                        <div class="form-group">
                            <div style="margin-bottom: 5px">
                                <a class="btn btn-default" id="add">Add message</a>
                            </div>
                            <div>
                                <a class="btn btn-default" href="{{ path('user_profile') }}" id="profile">My profile</a>
                            </div>
                        </div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </fieldset>
            </form>
        </div>
    </div>
    {% if app.getUser() %}
        <div id="message_show"></div>
    {% endif %}
    <script>
        $('#add').click(function () {
            $('#message_show').empty();
            $('#fh5co-footer').hide();

            let messageForm =
                `<div class="container body-content span=8 offset=2">
        <div class="well my-style">
            <form class="form-horizontal" action="{{ path('user_message', {id: user.id}) }}" method="post">
                <fieldset>
                    <legend>Add new message</legend>
                    <div class="form-group">
                        <label for="message_about">About: </label>
                        <input type="text" class="form-control form-textarea" id="message_about" name="message[about]"
                               placeholder="About..."/>
                    </div>

                    <div class="form-group">
                        <label for="message_content">Message: </label>
                        <textarea class="form-control form-textarea" rows="6" id="message_content" name="message[content]" placeholder="Message..."></textarea>
                    </div>
                    <div class="form-group">
                            <div>
                                <input type="submit" name="Submit" class="btn btn-default" value="Send message"/>
                            </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </fieldset>
            </form>
        </div>
    </div>`;

            $('#message_show').append(messageForm);
            $('#message_show').toggle();
        });
    </script>

{% endblock %}

