{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well profile_style">
            <form name="authenticate" class="form-horizontal" action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend>My profile</legend>
                    <div class="form-group">
                        <label for="user_email">
                            <small>Email: </small>{{ user.email }}</label>
                    </div>
                    <div class="form-group">
                        <label for="full_name">
                            <small>Full name: </small>{{ user.fullName }}
                        </label>
                    </div>
                    <div class="form-group">
                        <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-envelope"></span>
                            ({{ msg|length }}) Message
                        </a>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </fieldset>
            </form>
        </div>
        <div class="well profile_orders_style">
            <form name="authenticate" class="form-horizontal" action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend>My orders</legend>

                    {% if (orders|length) %}
                        <table class="table">
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Seller</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Date</th>
                        </tr>
                        {% for order in orders %}
                                <tr>
                                    <td><img src="{{ asset('uploads/images/products/' ~ order.product.image) }}"
                                             height="60px"
                                             width="90px" alt="{{ order.product.name }}"/></td>
                                    <td>{{ order.product.name }}</td>

                                    {% if order.product.promotion %}
                                        <td>
                                            <span style="text-decoration: line-through">${{ order.product.price }}</span>
                                            <span style="color: red">${{ order.product.discount }}</span>
                                        </td>
                                    {% else %}
                                        <td>${{ order.product.price }}</td>
                                    {% endif %}
                                    <td><a href="{{ path('user_message', {id: order.product.author.id}) }}">{{ order.product.author.fullName }}</a></td>
                                    <td>{{ order.address }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.dateAdded|date("F jS \\a\\t g:ia") }}</td>
                                </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        {% for msg in app.session.flashbag.get('no_order') %}
                            <div class="alert alert-info" id="no_order">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
