<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}DIY Gifts{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ asset('favicon_gift.ico') }}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('templates/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('templates/css/myStyle.css') }}">

    <script src="{{ asset('templates/js/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ asset('templates/js/respond.min.js') }}"></script>
    <script src="{{ asset('templates/js/jquery.min.js') }}"></script>
    <script src="{{ asset('templates/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('templates/js/jquery.masonry.min.js') }}"></script>
    <script src="{{ asset('templates/js/main.js') }}"></script>
    <script>
        setTimeout(function () {
            $('#info').fadeOut();
        }, 3500)
    </script>
</head>
<body>
{#style="background-color: #fcfcfc"#}
{% block header %}
    <header id="fh5co-header" role="banner">
        <div class="container text-center">
            <div id="fh5co-logo">
                <a href="{{ path('diy_index') }}"><img style="max-width: 35%"
                                                       src="{{ asset('templates/images/logo.png') }}"
                                                       alt="DIY Gifts"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('diy_index') }}">Home</a></li>
                    <li><a href="{{ path('all_products') }}">Products</a></li>
                    <li><a href="{{ path('all_articles') }}">Blog</a></li>
                    <li><a href="#">About</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('user_profile') }}">My profile</a></li>
                        <li><a href="{{ path('security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login') }}">Sign In</a></li>
                        <li><a href="{{ path('user_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}


<div class="container body-container">
    {% block body %}
        <div id="fh5co-projects-feed" class="col-sm-4">
            <div class="fh5co-project masonry-brick">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer id="fh5co-footer" role="contentinfo">
        <div class="container-fluid">
            <div class="footer-content">
                <div class="copyright">
                    <small>
                        &copy; 2019 DIY Gifts. All Rights Reserved. <br>
                        Created by @stefistoeva - study at
                        <a href="https://softuni.bg/users/profile/show/stefistoeva" target="_blank">SoftUni</a>
                    </small>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/profile.php?id=100019005128962" target="_blank"><i
                                class="icon-facebook3"></i></a>
                    <a href="https://github.com/stefistoeva" target="_blank"><i class="icon-github"></i></a>
                    <a href="https://www.linkedin.com/in/stefka-stoeva-0bbaa8145" target="_blank"><i
                                class="icon-linkedin2"></i></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

</body>
</html>