{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashbag.get('order') %}
        <div class="alert alert-success" id="order">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('gift') %}
        <div class="alert alert-success" id="gift">
            {{ msg }}
        </div>
    {% endfor %}

    {% if app.getUser() and app.getUser().isAdmin() %}
        <div style="margin-bottom: 10px">
            <a class="btn btn-default" href="{{ path('product_add') }}"><span>&#43;</span>Add new gift</a>
            <a class="btn btn-default" href="{{ path('my_products') }}">My gifts</a>
            <a class="btn btn-default" href="{{ path('seller_orders') }}">View orders</a>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('product_view', {id: product.id}) }}">
                            <img src="{{ asset('uploads/images/products/' ~ product.image) }}"
                                 style="margin-bottom: 10px" width="300px" height="200px" class="card-img"
                                 alt="{{ product.name }}">
                        </a>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.partOfDesc }}</p>
                        {% if product.promotion %}
                            <h5 class="card-price"><span
                                        style="text-decoration: line-through">${{ product.price }}</span> <span
                                        style="color: red">${{ product.discount }}</span></h5>
                        {% else %}
                            <h5 class="card-price">${{ product.price }}</h5>
                        {% endif %}
                        <a href="{{ path('product_view', {id: product.id}) }}" class="btn btn-primary">View</a>
                        <a href="{{ path('create_order', {id: product.id}) }}" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

