{% extends 'base.html.twig' %}

{% block body %}
    <div class="post-container">
        <div class="post-thumb">
            <img src="{{ asset('uploads/images/products/' ~ product.image) }}" alt="{{ product.name }}"/>
        </div>
        <div class="post-content">
            <div class="product-description">
                <span><a href="{{ path('all_products') }}">DIY Gifts</a></span>
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
            </div>
            <small class="seller">
                Seller: {{ product.author.fullName }}
                <br/>
                <a class="btn btn-sm btn-default" href="{{ path('user_message', {id: product.author.id}) }}">Leave message</a>
            </small>
            <div class="product-price">
                {% if product.promotion %}
                    <span style="text-decoration: line-through">${{ product.price }}</span>
                    <span style="color: red">${{ product.discount }}</span>
                {% else %}
                    <span>${{ product.price }}</span>
                {% endif %}
                <a href="{{ path('create_order', {id: product.id}) }}" class="btn btn-primary">Buy</a>
                {% if app.getUser() and app.getUser().isAdmin() %}
                    <a class="btn btn-success" href="{{ path('product_edit', {id: product.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('product_delete', {id: product.id}) }}">Delete</a>
                {% endif %}
                <a class="btn btn-default" href="{{ path('all_products') }}">Back</a>
        </div>
        </div>
    </div>
{% endblock %}

