{% extends 'base.html.twig' %}

{% block main %}
    <h3>{{ msg.about }}</h3>
    <p>Content: {{ msg.content }}</p>
    <small>From: {{ msg.sender.fullName }}</small>
    <br/>
    <small>Date: {{ msg.dateAdded|date("F jS \\a\\t g:ia") }}</small>
    <div class="form-group">
        <div style="margin-bottom: 5px">
            <a href="{{ path('user_mailbox') }}" class="btn btn-default btn-sm" id="back">Back</a>
        </div>
    </div>

    {% if app.getUser() %}
        <div class="form-group">
            <div style="margin-bottom: 5px">
                <a class="btn btn-primary" id="add">Add message</a>
            </div>
        </div>
        <div id="message_view"></div>
    {% endif %}
    <script>
        $('#add').click(function () {
            $('#message_view').empty();
            $('#fh5co-footer').hide();

            let messageForm =
                `<div class="container body-content span=8 offset=2">
        <div class="well my-style">
            <form class="form-horizontal" action="{{ path('user_mailbox_sent_message', {id: msg.sender.id}) }}" method="post">
                <fieldset>
                    <legend>Add new message</legend>
                    <div class="form-group">
                        <label for="message_about">About: </label>
                        <input type="text" class="form-control form-textarea" id="message_about" name="message[about]"
                               placeholder="About..."/>
                    </div>

                    <div class="form-group">
                        <label for="message_content">Message: </label>
                        <textarea class="form-control form-textarea" rows="6" id="message_content" name="message[content]" placeholder="Message..."></textarea>
                    </div>
                    <div class="form-group">
                            <div>
                                <input type="submit" name="Submit" class="btn btn-default" value="Send message"/>
                            </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </fieldset>
            </form>
        </div>
    </div>`;

            $('#message_view').append(messageForm);
            $('#message_view').toggle();
        });
    </script>
{% endblock %}