{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('errors') %}
        <div class="alert alert-danger">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form name="authenticate" class="form-horizontal" action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend>Sign In</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="user_email" placeholder="Email" name="_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="password">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('diy_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
