{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('errors') %}
        <div class="alert alert-danger">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if app.getUser() %}
        <div class="button-added">
            <a class="btn btn-default" href="{{ path('article_create') }}"><span>&#43;</span>Add new article</a>
        </div>
        <div class="button-added">
            <a class="btn btn-default" href="{{ path('my_articles') }}">My articles</a>
        </div>
    {% endif %}
    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                    <article style="margin-bottom: 20px">
                        <a href="{{ path('article_view', {id: article.id}) }}">
                            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" width="400px" height="200px">
                        </a>
                        <header>
                            <a href="{{ path('article_view', {id: article.id}) }}">
                                <h2>{{ article.title }}</h2>
                            </a>
                        </header>

                        <p>
                            {{ article.summary }}
                        </p>

                        <small>Views: {{ article.viewCount }}</small>
                        <br/>
                        <small>Date Added: {{ article.dateAdded|date("F jS") }}</small>
                        <br/>
                        <small class="author">
                            Author: {{ article.author.fullName }}
                        </small>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
