{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div class="page-content">
                        <h1 class="mb0">{{ article.title }}</h1>
                        {#                        Back to blog#}
                        <div class="meta"><span><a href="{{ path('all_articles') }}"></a></span></div>
                        <p><img src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="Article image"></p>
                        <p>
                            {{ article.content }}
                        </p>
                        <small class="author">
                            Author: {{ article.author.fullName }}
                        </small>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id: article.id}) }}">Edit
                                    &raquo;</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id: article.id}) }}">Delete
                                    &raquo;</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('all_articles') }}">back &raquo;</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

    {% if  app.getUser() %}
        <div class="container body-content span=2 offset=2">
            <div class="well">
                <form class="form-horizontal" action="{{ path('comment_create', {id: article.id}) }}" method="post">
                    <fieldset>
                        <legend>Add comment</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="comment">Comment:</label>
                            <div class="col-sm-6">
                                <textarea placeholder="Leave a comment..." class="form-control" rows="3" name="comment[content]" id="comment"></textarea>
                                <small>User: {{ app.getUser().getFullName() }}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <input type="submit" name="Submit" class="btn btn-primary" value="Send"/>
                            </div>
                        </div>
                        {#{{ form_row(form._token) }}#}
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}

    {% for comment in comments %}
        <div class="container body-content span=2 offset=2">
            <div class="well">
                <small>Author: <a href="{{ path('user_message', {id: comment.author.id}) }}">{{ comment.author.fullName }}</a></small>
                <p>{{ comment.content }}</p>
                <small>{{ comment.dateAdded|date("F jS") }}</small>
            </div>
        </div>
    {% endfor %}


{% endblock %}